@supports (grid-area: auto) {
	
img {
	width: 100%;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Arial', sans-serif;

}	


.main-area {
	display: grid;
	grid-template-columns: 400px 400px 400px;
	grid-template-rows:  auto;
	}
	
	body {
	font-family: 'Arial', sans-serif;
	}
	
h1 {
		text-align: center;
		font-family: 'Arial', sans-serif;
		font-weight: bold;
		font-size: 28pt;
		line-height: 150%;
	}
	
h2 {
		text-align: center;
		font-family: 'Arial', sans-serif;
		font-weight: bold;
		font-size: 24pt;
		line-height: 150%;
	
		}
	
	p {
		text-align: left;
		font-family: 'Palatino', serif;
		font-weight: normal;
		font-size: 12pt;
		line-height: 150%;
		}
	
.masthead {
	display: grid;
	grid-template-columns: 400px 400px 400px;
	grid-template-rows:  auto;
	}
.masthead	{
	border: 10px solid #2e3192;
	width: 1200px;
	height: 200px;
	}
.AMerickaVoicesLogo {
grid-column: 1 / 3;
grid-row: 1 / 2;
	width: 800px;
	height: 150px;
	}	
	
	.section {
	display: grid;
	grid-template-columns: 400px 400px 400px;
	grid-template-rows:  auto;
	}
	
.box1 {
	grid-column: 3 / 4;
	grid-row: 1 / 3;
	width: 380px;
	height: 870px;
	background-color: rgba(46, 49, 146, .3);
	padding: 0 0 0 20px;
	} 
	

.AMerickaVoicesMascot {
grid-column: 3 / 4;
grid-row: 1 / 2;
	Padding: 5px 0 0 170px;
	width: 200px;
	height: 300px;
	}	
	
.hireactor {
grid-column: 3 / 4;
grid-row: 2 / 3;
	width: 330px;
	height: 340px;
	background-color: white;
		border: 4px solid #2e3192;
		margin: 0 0 0 25px;
		padding: 5px 0 0 20px;
		}
	
	
	.hireactor h2 {
	text-align: left;
		font-size: 16pt;
	}
	
.navigation {
	display: inline;
	grid-template-columns: 200px 200px 200px 200px 400px; 
	grid-template-rows:  auto;
	}	
	

**************
	
nav li a {
	display: inline;
		font-size: 12pt;
		font-weight: bold;
		font-family: 'Arial', sans-serif;
	width: 175px;
	height: 30px;
		color: white;} /*Unvisited link*/
	a:visited {color: #00FF00;} /*Visited link */
	a:hover {color: #bf1e2e;} /*Mouse Over link */
	a:active {color: black;} /*Selected link */
	}
 	
.home {
	display: inline-grid;
	font-size: 12pt;
	text-align: center;
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	color: white;
	width: 175px;
	border-width: 4px, black;
	border-height: 30px, black;
	background-color: #2e3192;
	padding: 10px;
	}
		
.aboutme {	
	display: inline-grid;
	font-size: 12pt;
	text-align: center;
	grid-column: 2 / 3;
	grid-row: 2 / 3;
	color: white;
	width: 175px;
	border-width: 4px, black;
	border-height: 30px, black;
	background-color: #2e3192;
	padding: 10px;
	}
	
.myservices {
	display: inline-grid;
	font-size: 12pt;
	text-align: center;
	grid-column: 3 / 4;
	grid-row: 2 / 3;
		color: white;
	width: 175px;
	border-width: 4px, black;
	border-height: 30px, black;
	background-color: #2e3192;
	padding: 10px;
	}
	
.samplesofmywork {
	display: inline-grid;
	font-size: 12pt;
	text-align: center;
	grid-column: 4 / 5;
	grid-row: 2 / 3;
		color: white;
	width: 175px;
	border-width: 4px, black;
	border-height: 30px, black;
	background-color: #2e3192;
	padding: 10px;
	}

.article {
	display: grid;
	grid-template-columns: 400px 400px 400px;
	grid-template-rows:  auto;
	}	

.AboutVoiceActing {
		grid-column: 1 / 3;
		padding: 12px;
	}
.Animation {
		grid-column: 1 / 3;
		padding: 12px;
	}	

.hire	{
		grid-column: 1 / 3;
		padding: 12px;
	}	
.hire {
grid-column: 1 / 3;
	width: 780px;
	height: 100px;
	padding: 12px 12px 18px 12px;
	background-color: rgba(46, 49, 146, .3);
	}
.footer {
	border: 10px solid #2e3192;
	width: 1180px;
	height: 90px;
	text-align: center;
	padding: 6px;
	}
	
.footer h2 {
	text-align: center;
		font-family: 'Arial', sans-serif;
		font-weight: bold;
		font-size: 18pt;
		line-height: 150%;
		}

@media all and (min-width: 480ox) and (max-width: 1200px)
{
	body {color: green;}
}