@supports (grid-area: auto) {
	
img {
	width: 100%;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Arial', sans-serif;

}	


.main-area {
	display: grid;
	grid-template-columns: 400px 400px 400px;
	grid-template-rows:  auto;
	}
	
	body {
	font-family: 'Arial', sans-serif;
	}
	
h1 {
		text-align: center;
		font-family: 'Arial', sans-serif;
		font-weight: bold;
		font-size: 28pt;
		line-height: 150%;
	}
	
h2 {
		text-align: center;
		font-family: 'Arial', sans-serif;
		font-weight: bold;
		font-size: 24pt;
		line-height: 150%;
	
		}
	
	p {
		text-align: left;
		font-family: 'Palatino', serif;
		font-weight: normal;
		font-size: 18pt;
		line-height: 150%;
		}
	
.masthead {
	display: grid;
	grid-template-columns: 400px 400px 400px;
	grid-template-rows:  auto;
	}
.masthead	{
	border: 10px solid #2e3192;
	width: 1200px;
	height: 160px;
	}
	
.AMerickaVoicesLogo {
grid-column: 2 / 4;
grid-row: 1 / 2;
	width: 800px;
	height: 150px;
	}	
	
.AMerickaVoicesMascot {
grid-column: 1 / 2;
grid-row: 1 / 2;
	Padding: 5px 0 0 100px;
	width: 150px;
	height: 150px;
	}	
	
.section {
	display: grid;
	grid-template-columns: 400px 400px 400px;
	grid-template-rows:  auto;
	}

.editing {
	display: inline-block;
	grid-column: 1 / 2;
	grid-row: 1 / 2;
		width: 380px;
		height: 150px;
		border: 4px solid #2e3192;
	margin: 4px;
		padding: 10px;
	font-size: 24pt;
		}	

.stopmotion {
	display: inline-block;
	grid-column: 2 / 3;
	grid-row: 1 / 2;
		width: 380px;
		height: 150px;
		border: 4px solid #2e3192;
	margin: 4px;
	padding: 10px;
	font-size: 24pt;
	}


.voicecreation {
	display: inline-block;
	grid-column: 1 / 2;
	grid-row: 2 / 3;
		width: 380px;
		height: 150px;
		border: 4px solid #2e3192;
	margin: 4px;
		padding: 10px;
	font-size: 24pt;
	}	


.voiceover {
	display: inline-block;
	grid-column: 2 / 3;
	grid-row: 2 / 3;
		width: 380px;
		height: 150px;
		border: 4px solid #2e3192;
	margin: 4px;
		padding: 10px;
	font-size: 24pt;
	}	
	
.box1 {
	grid-column: 3 / 4;
	width: 380px;
	height: 400px;
	background-color: rgba(46, 49, 146, .3);
	padding: 10px;
	} 
	
	
.microphone {
		grid-column: 3 / 4;
		width: 150px;
		height: 100px;
		padding-left: 100px;
	}	
	

		
.hireactor {
grid-column: 3 / 4;
grid-row: 2 / 3;
	width: 330px;
	height: 280px;
	background-color: white;
		border: 4px solid #2e3192;
		margin: 0 0 0 25px;
		padding: 5px 0 0 20px;
		}
	
	
	.hireactor h2 {
	text-align: left;
		font-size: 16pt;
	}
	
.navigation {
	grid-template-columns: 400px 200px 200px 200px 200px; 
	grid-template-rows:  auto;
	padding-left: 340px;
	}	
	

**************
	
nav li a {
	display: inline;
		font-size: 12pt;
		font-weight: bold;
		font-family: 'Arial', sans-serif;
	width: 190px;
	height: 30px;
		color: white;} /*Unvisited link*/
	a:visited {color: #00FF00;} /*Visited link */
	a:hover {color: #bf1e2e;} /*Mouse Over link */
	a:active {color: black;} /*Selected link */
	}
 	
.home {
	display: inline-grid;
	font-size: 12pt;
	text-align: center;
	grid-column: 3 / 4;
	grid-row: 2 / 3;
	color: white;
	width: 190px;
	border-width: 4px, black;
	border-height: 30px, black;
	background-color: #2e3192;
	padding: 10px;
	}
		
.aboutme {	
	display: inline-grid;
	font-size: 12pt;
	text-align: center;
	grid-column: 3 / 4;
	grid-row: 2 / 3;
	color: white;
	width: 190px;
	border-width: 4px, black;
	border-height: 30px, black;
	background-color: #2e3192;
	padding: 10px;
	}
	
.myservices {
	display: inline-grid;
	font-size: 12pt;
	text-align: center;
	grid-column: 4 / 5;
	grid-row: 2 / 3;
		color: white;
	width: 190px;
	border-width: 4px, black;
	border-height: 30px, black;
	background-color: #2e3192;
	padding: 10px;
	}
	
.samplesofmywork {
	display: inline-grid;
	font-size: 12pt;
	text-align: center;
	grid-column: 5 / 6;
	grid-row: 2 / 3;
		color: white;
	width: 190px;
	border-width: 4px, black;
	border-height: 30px, black;
	background-color: #2e3192;
	padding: 10px;
	}
	



.Aboutme h1 {
		grid-column: 2 / 4;
		margin: 20px;
		padding: 20px;
	}

.AboutMe {
		grid-column: 1 / 4;
		margin: 20px;
		padding: 20px;
	}

.Animation {
		grid-column: 1 / 3;
		padding: 12px;
	}	

.hire	{
		grid-column: 1 / 3;
		padding: 12px;
	}	
.hire {
grid-column: 1 / 3;
	width: 780px;
	height: 100px;
	padding: 12px 12px 18px 12px;
	background-color: rgba(46, 49, 146, .3);
	}


.footer {
	border: 10px solid #2e3192;
	width: 1180px;
	height: 90px;
	text-align: center;
	padding: 6px;
	}
	
.footer h2 {
	text-align: center;
		font-family: 'Arial', sans-serif;
		font-weight: bold;
		font-size: 18pt;
		line-height: 150%;
		}

.goofyimg{
		width: 100px;
		height: 150px;
	padding: 0 0 0 100px;
	}
.goofy {
		display: inline-block;
		font-size: 12pt;
		width: 300px;
		height: 220px;
		border: 4px solid #2e3192;
		margin: 10px;
		padding: 20px;
	}


.mickeyimg{
		width: 100px;
		height: 150px;
	padding: 0 0 0 100px;
	}
.mickey {
		display: inline-block;
		font-size: 12pt;
		width: 300px;
		height: 220px;
		border: 4px solid #2e3192;
		margin: 10px;
		padding: 20px;
	}

.elmerfuddimg{
		width: 100px;
		height: 150px;
	padding: 0 0 0 100px;
	}

.elmerfudd {
		display: inline-block;
		font-size: 12pt;
		width: 300px;
		height: 220px;
		border: 4px solid #2e3192;
		margin: 10px;
		padding: 20px;
	}

.bugsbunnyimg{
		width: 100px;
		height: 150px;
	padding: 0 0 0 100px;
	}

.bugsbunny {
		display: inline-block;
		font-size: 12pt;
		width: 300px;
		height: 220px;
		border: 4px solid #2e3192;
		margin: 10px;
		padding: 20px;
	}

.yodaimg{
		width: 100px;
		height: 150px;
	padding: 0 0 0 100px;
	}

.yoda {
		display: inline-block;
		font-size: 12pt;
		width: 300px;
		height: 220px;
		border: 4px solid #2e3192;
		margin: 10px;
		padding: 20px;
	}

.shrekanddonkeyimg{
		width: 100px;
		height: 150px;
	padding: 0 0 0 100px;
	}

.shrekanddonkey {
		display: inline-block;
		font-size: 12pt;
		width: 300px;
		height: 220px;
		border: 4px solid #2e3192;
		margin: 10px;
		padding: 20px;
	}

.darthvaderimg{
		width: 100px;
		height: 150px;
	padding: 0 0 0 100px;
	}

.darthvader {
		display: inline-block;
		font-size: 12pt;
		width: 300px;
		height: 220px;
		border: 4px solid #2e3192;
		margin: 10px;
		padding: 20px;
	}

@media all and (min-width: 480ox) and (max-width: 1200px)
{
	body {color: green;}
}

